---
layout: base 
---

<div class="portfolio-grid">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-card">
      <div class="portfolio-card-content">
        <h2 class="portfolio-title">{{ post.title }}</h2>
        {% if post.description %}
          <div class="portfolio-description">{{ post.description }}</div>
        {% endif %}
        <div class="portfolio-meta">
          <span><i class="fa fa-cog"></i> {{ post.tech }}</span>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left next">Prev</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right next">Next</a>
  {% endif %}
  <span>{{ paginator.page }}</span>
</div>